<p>products works!</p>
<div class="face-snap-card" *ngFor="let product of products$ | async">
  <h2>{{products$.name | titlecase}}</h2>
  <p>Prix : {{products$.price}} </p>
  <p>Description : {{products$.description}} </p>
  <p>
    <button mat-flat-button color="warn">View</button>
  </p>
</div>
